

<div class="banner">
  <ul>
    <li><h1>Stupid Coaching</h1></li>
    <li><h2><%= @question %></h2></li>
    <li><h2>- You</h2></li>
    <li><h2><%= @answer %></h2></li>
    <li><h2>- Your Coach</h2></li>
    <li><link rel="stylesheet" href="/ask?"></li>
    <li><%= link_to "Ask another question", "/ask?" %></li>
</ul>
</div>
