<h2>ASK YOUR QUESTION TO THE COACH:</h2>

<form action="/answer" method="get">
  <input type="text" name="user_question" placeholder="Enter your question to the coach!">
  <input type="submit">
</form>
